$turquoise: #39aa97;
$lightGray: #e9e9e9;
$iconSize: 30px;

body {
  margin: 0 5%;
  font-size: 16px;
  font-family: "Open Sans", serif;
}

ul, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}

span {
  text-align: center;
}

.iconfont {
  font-size: $iconSize;
  vertical-align: middle;
}

.main {
  display: flex;;

  header {
    flex: 1;
    margin-right: 50px;

    .logo {
      width: 80%
    }

    .nav-link {
      margin: 30px 0;

      li {
        margin: 15px 0;

        .iconfont {
          margin-right: 10px;
        }

        .icon-desc {
          color: $turquoise;
          font-weight: bolder;
          line-height: $iconSize;
        }
      }
    }

    .join-us {
      margin-top: 40px;

      li {
        margin: 50px 0;

        .join-us-title {
          border-bottom: 2px dashed $lightGray;
          padding: 5px 0;
        }

        .join-us-desc {
          font-size: 14px;
        }

        .join-us-content {
          margin: 15px 0;
          border: 2px solid $lightGray;
          border-radius: 5px;
          padding: 5px 5px;
          color: $turquoise;

          .iconfont {
            font-size: 20px;
          }
        }
      }
    }

  }

  .container {
    flex: 4;

    .container-top {
      background: url("../resources/foodsense.jpg") round;
      height: 500px;

      h1 {
        display: inline-block;
        margin-top: 300px;
        background-color: white;
        padding: 0 30px;
      }

      h2 {
        display: inline-block;
        background-color: black;
        color: white;
        padding: 0 30px;
      }

      .photo-by {
        display: inline-block;
        float: right;
        margin: 60px 20px 0 0;
        padding: 5px 10px;
        background-color: $lightGray;
      }
    }

    .container-nav {
      display: flex;

      li {
        flex: 1;
        background-color: #eff8f7;
        padding: 30px 0 30px 20px;
        color: $turquoise;
        border-right: 1px solid #d9efec;

        .container-nav-desc {
          font-size: 14px;
        }
      }

      li:nth-child(2) {
        background-color: #d9efec;
      }

      li:last-child {
        border-right: none;
      }
    }

    .container-email {
      margin: 30px 0;
      border: 2px dashed $lightGray;
      border-left: 0;
      border-right: 0;
      padding: 5px 0;

      .iconfont {
        margin: 0 10px;
        height: auto;
      }

      .container-email-desc {
        display: inline-block;
        width: 50%;
        text-align: left;
        font-size: 14px;
      }

      input {
        height: 30px;
        width: 30%;
      }

      button {
        height: 30px;
        margin-left: 10px;
      }

    }

    .container-article ul{
      display: flex;

      li {
        flex: 1;
        margin-right: 20px;

        img {
          width: 215px;
          border: 2px solid $lightGray;
          padding: 10px;
        }

        h3 {
          margin: 5px 0;
          color: $turquoise;
        }

        .container-article-date {
          color: #b4b4b4;
        }

        .container-article-read {
          color: $turquoise;
        }
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }
}

footer {
  border-top: 3px solid $lightGray;

  .footer-contain {
    margin: 20px 0;
    float: left;

    .footer-nav {

      li {
        display: inline;
        color: $turquoise;
        border-right: 2px solid $lightGray;
        padding: 0 5px;
      }

      li:first-child {
        padding-left: 0;
      }

      li:last-child {
        border-right: none;
      }
    }

    .footer-copyright {
      margin-top: 5px;
      color: #b4b4b4;
    }
  }

  .footer-icon {
    margin-top: 20px;
    float: right;
    color: #b4b4b4;
  }
}