body {
  margin: 0 5%;
  font-size: 16px;
  font-family: "Open Sans", serif; }

ul, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

a {
  cursor: pointer; }

li {
  list-style: none; }

span {
  text-align: center; }

.desc {
  font-weight: 500;
  font-style: italic; }

.iconfont {
  font-size: 30px;
  vertical-align: middle; }

.main {
  display: flex; }
  .main header {
    flex: 1;
    margin-right: 50px; }
    .main header .logo {
      width: 120px;
      height: 120px; }
    .main header .nav-link {
      margin: 30px 0; }
      .main header .nav-link li {
        margin: 15px 0; }
        .main header .nav-link li .iconfont {
          margin-right: 10px; }
        .main header .nav-link li .icon-desc {
          color: #39aa97;
          line-height: 30px; }
    .main header .join-us {
      margin-top: 40px; }
      .main header .join-us li {
        margin: 50px 0; }
        .main header .join-us li .join-us-title {
          border-bottom: 2px dashed #e9e9e9;
          padding: 5px 0; }
        .main header .join-us li .join-us-desc {
          font-size: 14px; }
        .main header .join-us li .join-us-content {
          margin: 15px 0;
          border: 2px solid #e9e9e9;
          border-radius: 5px;
          padding: 5px 5px;
          color: #39aa97; }
          .main header .join-us li .join-us-content .iconfont {
            font-size: 20px; }
  .main .container {
    flex: 5; }
    .main .container .container-top {
      background-image: url("../resources/foodsense.jpg");
      background-size: cover;
      height: 500px; }
      .main .container .container-top h1 {
        display: inline-block;
        margin-top: 300px;
        background-color: white;
        padding: 0 30px; }
      .main .container .container-top h2 {
        display: inline-block;
        background-color: black;
        margin-right: 200px;
        color: white;
        padding: 0 30px; }
      .main .container .container-top .photo-by {
        position: relative;
        display: inline-block;
        bottom: -15%;
        float: right;
        background-color: #e9e9e9; }
    .main .container .container-nav {
      display: flex; }
      .main .container .container-nav li {
        flex: 1;
        background-color: #eff8f7;
        padding: 30px 0 30px 20px;
        color: #39aa97;
        border-right: 1px solid #d9efec; }
        .main .container .container-nav li .container-nav-desc {
          font-size: 14px; }
      .main .container .container-nav li:nth-child(2) {
        background-color: #d9efec; }
      .main .container .container-nav li:last-child {
        border-right: none; }
    .main .container .container-email {
      display: flex;
      margin: 50px 0;
      border: 2px dashed #e9e9e9;
      border-left: 0;
      border-right: 0;
      padding: 5px 0;
      align-items: center; }
      .main .container .container-email .iconfont {
        margin: 0 20px;
        height: auto; }
      .main .container .container-email .container-email-desc {
        font-size: 14px;
        width: 45%; }
      .main .container .container-email input {
        height: 20px;
        width: 30%; }
      .main .container .container-email button {
        height: 20px;
        margin-left: 20px; }
    .main .container .container-article ul {
      display: flex;
      margin-bottom: 20px; }
      .main .container .container-article ul li {
        flex: 1;
        margin-right: 20px; }
        .main .container .container-article ul li img {
          width: 80%;
          border: 2px solid #e9e9e9;
          padding: 10px; }
        .main .container .container-article ul li h3 {
          margin: 5px 0;
          color: #39aa97; }
        .main .container .container-article ul li .container-article-date {
          color: #b4b4b4; }
        .main .container .container-article ul li .container-article-read {
          color: #39aa97; }
      .main .container .container-article ul li:last-child {
        margin-right: 0; }

footer {
  border-top: 3px solid #e9e9e9; }
  footer .footer-contain {
    margin: 20px 0;
    float: left; }
    footer .footer-contain .footer-nav li {
      display: inline;
      color: #39aa97;
      border-right: 2px solid #e9e9e9;
      padding: 0 5px; }
    footer .footer-contain .footer-nav li:first-child {
      padding-left: 0; }
    footer .footer-contain .footer-nav li:last-child {
      border-right: none; }
    footer .footer-contain .footer-copyright {
      margin-top: 5px;
      color: #b4b4b4; }
  footer .footer-icon {
    margin-top: 20px;
    float: right;
    color: #b4b4b4; }

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .main {
    flex-direction: column; }
    .main header {
      display: flex;
      margin-right: 0;
      flex-direction: row; }
      .main header .logo {
        flex: 1;
        width: 10%;
        height: 10%;
        margin-bottom: 3%; }
      .main header .nav-link {
        display: flex;
        flex: 4;
        flex-direction: row;
        margin-left: 20%; }
        .main header .nav-link li {
          margin: 0 5%;
          font-size: 12px; }
          .main header .nav-link li .iconfont {
            display: block;
            text-align: center;
            font-size: 14px; }
          .main header .nav-link li .icon-desc {
            white-space: nowrap; }
      .main header .join-us {
        display: none; }
    .main .container-nav-desc {
      display: none; } }
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column; }
    .main header {
      display: flex;
      flex-direction: column;
      margin-right: 0;
      align-items: center; }
      .main header .logo {
        order: 2;
        margin-bottom: 5%; }
      .main header .nav-link {
        order: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 2px dashed #e9e9e9;
        padding-bottom: 5%; }
        .main header .nav-link li {
          flex: 1;
          margin: 0 3%;
          text-align: center; }
          .main header .nav-link li .iconfont {
            display: none; }
          .main header .nav-link li .icon-desc {
            white-space: nowrap; }
      .main header .join-us {
        display: none; }
    .main .container .container-top {
      margin-bottom: 120px; }
      .main .container .container-top h1 {
        font-size: 20px;
        margin-top: 500px;
        width: -webkit-fill-available; }
      .main .container .container-top h2 {
        font-size: 15px;
        margin-right: 0;
        width: -webkit-fill-available; }
      .main .container .container-top .photo-by {
        bottom: -5%;
        background-color: transparent; }
    .main .container .container-nav {
      display: none; }
    .main .container .container-article ul {
      flex-direction: column; } }

/*# sourceMappingURL=main.css.map */
